{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<h1> {{ title }} </h1>
<div>
{{ form(authorForm) }}
</div>
<a href="{{ path('app_author_list')}}">Return to List</a>
{% endblock %}
